.form {
  width: 50%;
  padding-left: 20px;
}

input {
  width: 49%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A6A6A6;
  border: 1px solid #DBDFEC;
  border-radius: 5px;
  padding: 20px 0 20px 15px;
  margin-bottom: 15px;
}