.header {
  background-color: #ffffff;
  &-action {
    text-align: left;
  }
  &-row {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }    
    &-add {
      background: #fcfcfc;
      .container {
        height: 60px;
      }      
    }
    &-basic {
      .container {
        height: 114px;
      } 
    }
  }
}