.nav {
  &-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  &-item {
    margin-right: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1E222E;
  }
  &-link {
    text-decoration: none;
    color: #1E222E;
  }
  &-dynamic{
    margin-top: 25px;
  }
    
}
