.point {
  padding: 60px 0 25px 0;

  &-action {
    background: url(/src/asset/images/icons/Navigation\ slider.svg) center center/cover no-repeat;
    width: 92px;
    height: 16px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
  }

}